<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
    <mat-card class="max-w-md w-full space-y-8 p-8 rounded-xl shadow-lg">
        <div class="text-center">
            <h2 class="mt-4 text-3xl font-extrabold text-gray-900">Set New Password</h2>
            <p class="mt-2 text-sm text-gray-600">Please enter your new password below.</p>
        </div>

        <form *ngIf="!successMessage()" [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="mt-8 space-y-6">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>New Password</mat-label>
                <input matInput formControlName="newPassword" [type]="hidePassword() ? 'password' : 'text'"
                    placeholder="Password" required>
                <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
                    <mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="resetForm.get('newPassword')?.hasError('required')">Password is required</mat-error>
                <mat-error *ngIf="resetForm.get('newPassword')?.hasError('minlength')">Minimum 6 characters
                    required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="confirmPassword" [type]="hidePassword() ? 'password' : 'text'"
                    placeholder="Confirm Password" required>
                <mat-error *ngIf="resetForm.get('confirmPassword')?.hasError('required')">Please confirm your
                    password</mat-error>
                <mat-error *ngIf="resetForm.hasError('mismatch')">Passwords do not match</mat-error>
            </mat-form-field>

            <div *ngIf="errorMessage()" class="text-red-500 text-sm text-center">
                {{ errorMessage() }}
            </div>

            <div>
                <button mat-flat-button color="primary" type="submit"
                    [disabled]="resetForm.invalid || isLoading() || !token" class="w-full py-2 text-lg">
                    <span *ngIf="!isLoading()">Reset Password</span>
                    <span *ngIf="isLoading()">Resetting...</span>
                </button>
            </div>
        </form>

        <div *ngIf="successMessage()" class="mt-8 text-center space-y-6">
            <div class="bg-green-50 text-green-800 p-4 rounded-md">
                {{ successMessage() }}
            </div>
            <button mat-flat-button color="primary" routerLink="/login" class="w-full">Proceed to Login</button>
        </div>
    </mat-card>
</div>