/* HomeComponent styles */
:host ::ng-deep .hide-subscript .mat-mdc-form-field-subscript-wrapper {
    display: none;
}

:host ::ng-deep .mat-mdc-list-item {
    height: auto !important;
}

:host ::ng-deep .mat-mdc-card-header {
    padding: 0 !important;
}

:host ::ng-deep .mat-mdc-card-header-text {
    margin: 0 !important;
    width: 100%;
}


.bg-clip-text {
    -webkit-background-clip: text;
    background-clip: text;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(148, 163, 184, 0.2);
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(148, 163, 184, 0.4);
}
